
@{
    ViewBag.Title = "Index";
}
<script src="~/Content/jquery-3.6.0.js"></script>
<script src="~/Content/Student.js"></script>

<h2>Index</h2>
<input id="txtname" type="text" />
<input id="txtaddress" type="text" />
<input id="txtmobileno" type="text" />
<input id="txtemailid" type="text" />
<input id="Submit1" type="submit" value="submit" onclick="savestudent()" />

